.home-container{
  width: 100%;
   min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: calc(8px + 1.5vmin);
  
}


.home-header-content {
    height:400px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0.363),
      rgba(0, 4, 255, 0.203)),url("../../Components/img/style/fondo.jpeg");
    background-attachment: fixed;
    background-position:  center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
  
  }
  
  
  
  .home-header-content .Autor{
    text-align: center;
    /*background-color: rgba(93, 90, 90, 0.121);
    border:  1px rgb(255, 255, 255) ;
    border-style: dashed solid;*/
    margin:  auto 15px;
    padding: 2rem;
    justify-content: center;
    font-family: 'Bahnschrift', sans-serif ;
    font-size: calc(16px + 1.5vmin);
    font-weight: 100;
  }

  .home-header-content .Autor h1{   
    font-family: 'Bahnschrift', sans-serif ;
    font-size: calc(72px + 1.5vmin);
    font-stretch: condensed;
    font-weight: 350;
  }

    /*--- Main ---*/
  
  /*--- About in home page ---*/
  
  
  .main-content{
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
  }
   .home-main-content{
    align-items:  center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
  }

  .home-main-content h2 {
    width: initial;
   padding-bottom: 20px;
   padding-top: 20px;
  }
  /* ---profile photo in a circle ---*/

<<<<<<< HEAD
  
    .Photo-profile{
    display:block;
    background-image: url("../../Components/img/avatar.png ");
=======

  .Photo-profile{
    display:block;
    background-image: url("../../Components/img/style/profile.jpg ");
>>>>>>> 0ff3f70d9655847f8d265b2fe75adfc7e8cbfbf8
      background-size: contain;
    border: 5px solid rgb(253, 253, 253);
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: calc(100vw - 58%);
   
  
  }
<<<<<<< HEAD
  @media screen and (max-width: 1500px) {
    .Photo-profile{
    
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-top: -100px;
      margin-left: calc(100vw - 58%);
     
    
    }

  }
=======
>>>>>>> 0ff3f70d9655847f8d265b2fe75adfc7e8cbfbf8

   .home-main-content .App-about{
    margin: 1em;
    padding: auto;
    text-align: center;
   
    
  }
  
 
  

  /* ----footer in home page-----*/
 .home-footer-content{
   
    text-align: center;
    justify-content:space-between;
    align-items: center;
    background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0.538),
      rgba(2, 4, 131, 0.23)),url("../../Components/img/style/fondo.jpeg ");
      background-attachment: fixed;
    background-position:  center;
    background-size: cover;
    color: rgb(254, 254, 254);
    max-width: 100%;
    
  }
  
   .home-footer-content ul{
     display: inline;
    text-align: center;
    list-style-type: none;

   
    
  }
.home-footer-content ul li{
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: calc((12px + 2vmin));
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.633);
    margin: 10px;
    min-height: 40px;
    padding:  auto;
    text-align: center;
  }
   /*terminos y condiciones del footer*/

   @media screen and (max-width: 800px) {
<<<<<<< HEAD
   
=======

>>>>>>> 0ff3f70d9655847f8d265b2fe75adfc7e8cbfbf8
    
    .home-container{
        grid-template-rows: calc(100%*1/5) 1fr max-content;
        background-image: linear-gradient(
            to bottom,
            rgba(10, 10, 10, 0.363),
            rgba(0, 4, 255, 0.203)),url("../../Components/img/style/fondo.jpeg");
          background-attachment: fixed;
          background-position:  center;
          background-size: cover;

    }


<<<<<<< HEAD
=======
  



>>>>>>> 0ff3f70d9655847f8d265b2fe75adfc7e8cbfbf8
    .home-header-content {
      height:400px;
      align-items: center;
   }

   .Photo-profile{
<<<<<<< HEAD
    width: 120px;
    height: 120px;
    margin-top: -70px;
    
   }
  }
  @media screen and (min-width: 1800px) {
    .Photo-profile{
      width: 120px;
      height: 120px;
      margin-top: -50px;
      margin-left:calc(100vw - 53%) ;
     }

     .home-header-content{
      height: 1200px;
    }

  }
=======
    width: 150px;
    height: 150px;
    margin-top: -70px;
    margin-left: calc(100vw - 68%);
   }
  }

>>>>>>> 0ff3f70d9655847f8d265b2fe75adfc7e8cbfbf8

