.card-panel{
  max-width: 100%;
  text-align: center;
  background-color: rgba(228, 236, 252, 0.704) ;
  min-height: 350px;
  margin-top:  1rem;
  
  
}

.Cards{
    align-items: center;
    min-height: 10rem;
    padding:2% 10px;
    max-width: 100%;

  }
  
  .Cards li {
    
    border-radius: 5px;
    display: inline-block !important;

    padding: auto;
    justify-content: space-between;
   
  
  }
  
   