.App {
   display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 5rem;
  height: 100%;
}
 

.App-header {
  grid-area: header;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(10, 10, 10, 0.363),
    rgba(0, 4, 255, 0.203)),url("./img/header/cover.jpeg  ");
  background-attachment: fixed;
  background-position:  center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  color: white;
  

}

.navBar{
  width: 100%;
  text-align: end;
  font-size: calc(8px + 1.5vmin);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:  .5em auto;
}
.navBar ul{

  display: inline;
  list-style-type: none;
  margin:   auto .5em;
  padding:  0.5em auto;
  text-align: center
}
.navBar ul li{
  display: inline
}

 .navBar a{
  color: white;
  padding: 15px;
  text-decoration: none;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nombre del autor del sitio web*/
.App-header-content{
  /* centrar el contenido del autor en la mitar del header*/
  position: relative;
  display: flex;
  flex: 80%;
  justify-content: center;
  align-items: center;

}
.Autor{
  background-color: rgba(93, 90, 90, 0.121);
  justify-content:center ;
  border:  1px rgb(255, 255, 255) ;
  border-style: dashed solid;
  padding: 2rem 5rem;
  text-align: center;
  
}

.Photo-profile{
  background-image: linear-gradient(
    to bottom,
    rgba(10, 10, 10, 0.363),
    rgba(0, 4, 255, 0.203)),url("./img/header/yo.jpg  ");
    background-size: contain;
  border: 2px solid #000000;
  width: 200px;
  height: 200px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 45%;
  margin: -25px 0 0 -25px;

}