* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
.App{
  max-width: 100vw;
 text-align: center;
}

.App-grid-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}



.App-header {
  grid-area: header;
  background-color: #000;

 
}


.App-header a:hover{
  
  text-decoration: none;
}
.App-main {
 position: relative;
  grid-area: main;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;


}


.App-footer {
  grid-area: footer;
  background-color: #000;
  font-size: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 100%;
  padding: 5px;
}

/* ---Contact form in home page ---*/

.App-form {
  background-color: #ffffff;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
}


