* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
.App{
  max-width: 100vw;
 text-align: center;
}

.App-grid-container {
  
  display: flex;
  flex-direction: column;
  

}



.App-header {
  min-width: 100vw;
  grid-area: header;
  background-color: #000;
  position:fixed ;
  min-height: 5rem;
 
}


.App-header a:hover{
  
  text-decoration: none;
}
.App-main {
  margin-top: min(5rem);
  position:initial ;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(218, 227, 248);

}


.App-footer {
  grid-area: footer;

  background-color: #000;
  font-size: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 100%;
  padding: 5px;
}

/* ---Contact form in home page ---*/

.App-form {
  
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
  bottom: 0;
}


